ALTER TABLE eventsponsor ADD CONSTRAINT FK_4A26590571F7E88B FOREIGN KEY (event_id) REFERENCES evenement (id_event) ON DELETE CASCADE;
ALTER TABLE eventsponsor ADD CONSTRAINT FK_4A26590512F7FB51 FOREIGN KEY (sponsor_id) REFERENCES sponsor (id) ON DELETE CASCADE;
ALTER TABLE eventsponsor RENAME INDEX idx_event TO IDX_4A26590571F7E88B;
ALTER TABLE eventsponsor RENAME INDEX idx_sponsor TO IDX_4A26590512F7FB51;
ALTER TABLE meal_ticket ADD CONSTRAINT FK_F8AA10AA6ACE3B73 FOREIGN KEY (participation_id) REFERENCES participation (id);
CREATE INDEX IDX_F8AA10AA6ACE3B73 ON meal_ticket (participation_id);
ALTER TABLE participation_restaurant ADD CONSTRAINT FK_319B2DC19D1C3019 FOREIGN KEY (participant_id) REFERENCES participation (id);
ALTER TABLE participation_restaurant ADD CONSTRAINT FK_319B2DC1FD02F13 FOREIGN KEY (evenement_id) REFERENCES evenement (id_event);
CREATE INDEX IDX_319B2DC19D1C3019 ON participation_restaurant (participant_id);
CREATE INDEX IDX_319B2DC1FD02F13 ON participation_restaurant (evenement_id);
ALTER TABLE programme CHANGE event_id event_id INT NOT NULL;
ALTER TABLE programme ADD CONSTRAINT FK_3DDCB9FF71F7E88B FOREIGN KEY (event_id) REFERENCES evenement (id_event) ON DELETE CASCADE;
ALTER TABLE programme RENAME INDEX idx_prog_event TO IDX_3DDCB9FF71F7E88B;
ALTER TABLE repas_detaille CHANGE ingredients ingredients JSON DEFAULT NULL, CHANGE allergenes allergenes JSON DEFAULT NULL;
ALTER TABLE repas_detaille ADD CONSTRAINT FK_865EF8CA9D1C3019 FOREIGN KEY (participant_id) REFERENCES participation (id);
ALTER TABLE repas_detaille ADD CONSTRAINT FK_865EF8CAFD02F13 FOREIGN KEY (evenement_id) REFERENCES evenement (id_event);
ALTER TABLE repas_detaille ADD CONSTRAINT FK_865EF8CAB1E7706E FOREIGN KEY (restaurant_id) REFERENCES restaurant (id);
ALTER TABLE repas_detaille ADD CONSTRAINT FK_865EF8CACCD7E912 FOREIGN KEY (menu_id) REFERENCES menu (id);
CREATE INDEX IDX_865EF8CA9D1C3019 ON repas_detaille (participant_id);
CREATE INDEX IDX_865EF8CAFD02F13 ON repas_detaille (evenement_id);
CREATE INDEX IDX_865EF8CAB1E7706E ON repas_detaille (restaurant_id);
CREATE INDEX IDX_865EF8CACCD7E912 ON repas_detaille (menu_id);
ALTER TABLE sponsor DROP email_verified, CHANGE email email VARCHAR(255) NOT NULL;
DROP INDEX UNIQ_1483A5E9E7927C74 ON users;
ALTER TABLE users CHANGE email email VARCHAR(255) NOT NULL;
ALTER TABLE abonnement ADD CONSTRAINT FK_351268BBA76ED395 FOREIGN KEY (user_id) REFERENCES users (id);
ALTER TABLE abonnement ADD CONSTRAINT FK_351268BBFD02F13 FOREIGN KEY (evenement_id) REFERENCES evenement (id_event);
CREATE INDEX IDX_351268BBA76ED395 ON abonnement (user_id);
CREATE INDEX IDX_351268BBFD02F13 ON abonnement (evenement_id);
ALTER TABLE delivery CHANGE equipement_id equipement_id INT NOT NULL;
ALTER TABLE equipement_attributs CHANGE equipement_id equipement_id INT NOT NULL;
ALTER TABLE equipements CHANGE id id INT AUTO_INCREMENT NOT NULL;
ALTER TABLE equipements RENAME INDEX idx_b8b4c6f37e3c61f9 TO IDX_3F02D86B7E3C61F9;
ALTER TABLE equipement_vues CHANGE equipement_id equipement_id INT NOT NULL;
ALTER TABLE equipment RENAME INDEX event_id TO IDX_D338D58371F7E88B;
ALTER TABLE face_data CHANGE face_descriptor face_descriptor JSON NOT NULL, CHANGE created_by_id created_by_id INT UNSIGNED DEFAULT NULL, CHANGE updated_by_id updated_by_id INT UNSIGNED DEFAULT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE face_data ADD CONSTRAINT FK_1A2F051B03A8386 FOREIGN KEY (created_by_id) REFERENCES users (id);
ALTER TABLE face_data ADD CONSTRAINT FK_1A2F051896DBBDE FOREIGN KEY (updated_by_id) REFERENCES users (id);
CREATE INDEX IDX_1A2F051B03A8386 ON face_data (created_by_id);
CREATE INDEX IDX_1A2F051896DBBDE ON face_data (updated_by_id);
ALTER TABLE favori CHANGE user_id user_id INT UNSIGNED NOT NULL, CHANGE created_by_id created_by_id INT UNSIGNED DEFAULT NULL, CHANGE updated_by_id updated_by_id INT UNSIGNED DEFAULT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE favori ADD CONSTRAINT FK_EF85A2CCA76ED395 FOREIGN KEY (user_id) REFERENCES users (id);
ALTER TABLE favori ADD CONSTRAINT FK_EF85A2CCB1E7706E FOREIGN KEY (restaurant_id) REFERENCES restaurant (id);
ALTER TABLE favori ADD CONSTRAINT FK_EF85A2CCAACFC166 FOREIGN KEY (repas_detaille_id) REFERENCES repas_detaille (id);
ALTER TABLE favori ADD CONSTRAINT FK_EF85A2CCB03A8386 FOREIGN KEY (created_by_id) REFERENCES users (id);
ALTER TABLE favori ADD CONSTRAINT FK_EF85A2CC896DBBDE FOREIGN KEY (updated_by_id) REFERENCES users (id);
CREATE INDEX IDX_EF85A2CCA76ED395 ON favori (user_id);
CREATE INDEX IDX_EF85A2CCB03A8386 ON favori (created_by_id);
CREATE INDEX IDX_EF85A2CC896DBBDE ON favori (updated_by_id);
ALTER TABLE ingredient ADD CONSTRAINT FK_6BAF78701D236AAA FOREIGN KEY (repas_id) REFERENCES repas_detaille (id) ON DELETE SET NULL;
ALTER TABLE menu CHANGE dishes_ids dishes_ids JSON NOT NULL, CHANGE updated_by_id updated_by_id INT UNSIGNED DEFAULT NULL, CHANGE created_by_id created_by_id INT UNSIGNED DEFAULT NULL;
ALTER TABLE menu ADD CONSTRAINT FK_7D053A93B1E7706E FOREIGN KEY (restaurant_id) REFERENCES restaurant (id);
ALTER TABLE menu ADD CONSTRAINT FK_7D053A93B03A8386 FOREIGN KEY (created_by_id) REFERENCES users (id);
ALTER TABLE menu ADD CONSTRAINT FK_7D053A93896DBBDE FOREIGN KEY (updated_by_id) REFERENCES users (id);
CREATE INDEX IDX_7D053A93B1E7706E ON menu (restaurant_id);
CREATE INDEX IDX_7D053A93B03A8386 ON menu (created_by_id);
CREATE INDEX IDX_7D053A93896DBBDE ON menu (updated_by_id);
ALTER TABLE participation ADD CONSTRAINT FK_AB55E24FFD02F13 FOREIGN KEY (evenement_id) REFERENCES evenement (id_event);
ALTER TABLE participation ADD CONSTRAINT FK_AB55E24FF1D74413 FOREIGN KEY (abonnement_id) REFERENCES abonnement (id);
ALTER TABLE participation ADD CONSTRAINT FK_AB55E24FB1E7706E FOREIGN KEY (restaurant_id) REFERENCES restaurant (id);
ALTER TABLE participation ADD CONSTRAINT FK_AB55E24FCCD7E912 FOREIGN KEY (menu_id) REFERENCES menu (id);
CREATE INDEX IDX_AB55E24FFD02F13 ON participation (evenement_id);
CREATE INDEX IDX_AB55E24FF1D74413 ON participation (abonnement_id);
CREATE INDEX IDX_AB55E24FB1E7706E ON participation (restaurant_id);
CREATE INDEX IDX_AB55E24FCCD7E912 ON participation (menu_id);
ALTER TABLE programme_recommande ADD CONSTRAINT FK_EB62B78C6ACE3B73 FOREIGN KEY (participation_id) REFERENCES participation (id);
CREATE INDEX IDX_EB62B78C6ACE3B73 ON programme_recommande (participation_id);
ALTER TABLE reservation_maquillage CHANGE created_by_id created_by_id INT UNSIGNED DEFAULT NULL, CHANGE updated_by_id updated_by_id INT UNSIGNED DEFAULT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE reservation_maquillage ADD CONSTRAINT FK_6E3390A271F7E88B FOREIGN KEY (event_id) REFERENCES evenement (id_event) ON DELETE CASCADE;
ALTER TABLE reservation_maquillage ADD CONSTRAINT FK_6E3390A2B03A8386 FOREIGN KEY (created_by_id) REFERENCES users (id);
ALTER TABLE reservation_maquillage ADD CONSTRAINT FK_6E3390A2896DBBDE FOREIGN KEY (updated_by_id) REFERENCES users (id);
CREATE INDEX IDX_6E3390A2B03A8386 ON reservation_maquillage (created_by_id);
CREATE INDEX IDX_6E3390A2896DBBDE ON reservation_maquillage (updated_by_id);
ALTER TABLE reservation_maquillage RENAME INDEX event_id TO IDX_6E3390A271F7E88B;
ALTER TABLE restaurant CHANGE email email VARCHAR(255) NOT NULL;
ALTER TABLE service CHANGE id id INT AUTO_INCREMENT NOT NULL;
ALTER TABLE ticket CHANGE user_id user_id INT UNSIGNED DEFAULT NULL;
ALTER TABLE ticket ADD CONSTRAINT FK_97A0ADA36ACE3B73 FOREIGN KEY (participation_id) REFERENCES participation (id);
ALTER TABLE ticket ADD CONSTRAINT FK_97A0ADA3A76ED395 FOREIGN KEY (user_id) REFERENCES users (id);
ALTER TABLE ticket ADD CONSTRAINT FK_97A0ADA3F1D74413 FOREIGN KEY (abonnement_id) REFERENCES abonnement (id);
CREATE INDEX IDX_97A0ADA36ACE3B73 ON ticket (participation_id);
CREATE INDEX IDX_97A0ADA3A76ED395 ON ticket (user_id);
CREATE INDEX IDX_97A0ADA3F1D74413 ON ticket (abonnement_id);
ALTER TABLE payment_transaction CHANGE created_by_id created_by_id INT UNSIGNED DEFAULT NULL, CHANGE updated_by_id updated_by_id INT UNSIGNED DEFAULT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE payment_transaction ADD CONSTRAINT FK_84BBD50B806F0F5C FOREIGN KEY (equipement_id) REFERENCES equipements (id);
ALTER TABLE payment_transaction ADD CONSTRAINT FK_84BBD50B8DE820D9 FOREIGN KEY (seller_id) REFERENCES users (id);
ALTER TABLE payment_transaction ADD CONSTRAINT FK_84BBD50B6C755722 FOREIGN KEY (buyer_id) REFERENCES users (id);
ALTER TABLE payment_transaction ADD CONSTRAINT FK_84BBD50BB03A8386 FOREIGN KEY (created_by_id) REFERENCES users (id);
ALTER TABLE payment_transaction ADD CONSTRAINT FK_84BBD50B896DBBDE FOREIGN KEY (updated_by_id) REFERENCES users (id);
CREATE INDEX IDX_84BBD50BB03A8386 ON payment_transaction (created_by_id);
CREATE INDEX IDX_84BBD50B896DBBDE ON payment_transaction (updated_by_id);
